.form .input {
    border: 1px solid #bababa;
    border-radius: 5px;
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
    padding: 0 10px;
}
.input p {
    margin: 0;
    padding-top: 5px;
    font-size: 12px;
    line-height: 12px;
    color: #777;
}

.input input, .input select {
    outline: none;
    border: none;
    width: 100%;
    font-size: 16px;
    padding: 3px 0;
    background: transparent;
}
.form .main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.form .header {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.form .header div {
    display: flex;
    gap: 10px;
    cursor: pointer;
}
.form .header div:hover {
    color: blue;
}

.form .header button {
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
    color: #fff;
    font-weight: 600;
    background-color: rgb(100, 157, 255);
    cursor: pointer;
}
.form .header button:hover {
    background-color: rgb(26, 60, 173);
}

@media (max-width: 700px) {
    .form .input {
        width: 70%;
    }
    .form .header {
        width: 70%;
    }
}

.form .error {
    border: 1px solid red;
    background-color: #ffdfdf;
    color: red;
}